h1 {
  font-family: Arial;
  font-weight: bold;
  color: #973aa3;
  text-align: center;
  margin-top: 50px;
}

.form-inline {
  margin: 40px;

}

#game-container {
  width: 400px;
  position: relative;
  left: 55%;
  margin-left: -200px;
  margin-top: 30px;
}

#game-container button {
  height: 100px;
  width: 100px;
}

#play-again {
  display: inline-block;
  font-size: 25px;
  margin: 50px;
  margin-left: 90px;

}

/**** MEDIA RESPONSIVENESS ****/

/* Portrait and Landscapes for Phones */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait and Landscape for Tablets */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}


